<section class="card--main" ng-if="$ctrl.weather">
    <h2>Currently</h2>
    <div class="column">
        <div>Temperature: {{ $ctrl.weather.temperature | number:0 }}&deg;F</div>
        <div>Feels Like: {{ $ctrl.weather.apparentTemperature | number:0 }}&deg;F</div>
    </div>
    <div class="column">
        <div>{{ $ctrl.weather.time * 1000 | date:'short'}}</div>
        <div><img ng-src='{{ $ctrl.imageLookup[$ctrl.weather.icon] }}' /></div>
        <div>Precipitation Chance: {{ $ctrl.weather.precipProbability * 100 | number:2 }}%</div>
    </div>
    <div class="column">
        <div>Uv Index: {{ $ctrl.weather.uvIndex }}</div>
        <div>Humidity: {{ $ctrl.weather.humidity * 100 | number:0 }}%</div>
    </div>
    <div>Summary: {{ $ctrl.weather.summary }}</div>
</section>
<!-- <pre>{{ $ctrl.weather | json }}</pre>  -->